/* CSS Reset */
body
{
    background-color:black;
    color:white;
    margin: 20px;
    padding: 0px;
    background-image: url("F://study material/PROJECTS/Website design/GYM Website/Images/th.jpeg");
    background-repeat: no-repeat;
    background-size: 1500px 500px;
    font-family: 'Times New Roman';
}

.left
{
    position:absolute;
    left :20px;
    top:20px;
    display :inline-block;
}
.left img   
{
    width:80px;
    filter :invert(100%);
}

.mid
{
    display : block;
    width :63%;
    margin : 10px auto;
    margin-left: 300px;
}

.right
{
    position:absolute;
    right :20px;
    top:20px;
    display: inline-block;
}

.navbar
{
    display: inline-block;
}
.navbar 
{
    background-color: back;
}


.navbar li
{
    padding: 0px 0px 0px 0px;
    display : inline-block;
    font-size: 20px;
}
.navbar li a    
{
    color : white;
    text-decoration: none;
    padding : 24px 23px;
}

.navbar li a:hover, .navbar li a:active
{
    text-decoration: underline;
    color : grey;
}
.btn
{
margin: 20px 20px;
background-color: black;
color : white;
padding :4px 14px;
border: 2px solid grey;
border-radius: 10px;
cursor: pointer;
}

.btn:hover
{
background-color: rgb(187, 179, 179);
}
#upper{
    margin:24px;
    display:block;
    width:100%;
}
.container    
{
    margin : 50px 2px;
    padding : 75px;
    width : 33%;
    border-radius: 5px;
}
.form-group input 
{
    text-align: center;
    display: block;
    width: 300px;
    padding: 3px;
    border: 2px solid black;
    margin: 10px auto;
    border-radius: 20px;
    font-size: 15px;
}
.container h1
{
    text-align: center;
}
.container button
{
    display: block;
    width:300px;
    margin: 20px auto;
}
/*client section */
#client-section{
    height:250px;
    color: #000;
}
#client-section::before{
    content:"";
    position:absolute;
    background-color:aliceblue;
    width:100%;
    height:30%;
    z-index:-3;
    opacity:0.9;
}
#clients{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0px 300px;
}
#clients .client-item img{
    height:60px;
    padding:15px;
    margin-left: 30px;
}
/* footer */
footer{
    background-color:black;
    color:white;
    padding:9px;
    text-align:center;
}
.h-primary-center{
    position:relative;
    padding:13px 0px 0px 0px ;
    text-align:center;
    font-size:2.5rem;
    font-family:'ui-'serif';
}
